
body{
    background-color:  rgb(24, 26, 27);
}

.yellow-border{
  border-color: #FEDE00;
}
.modal.fade .modal-dialog{
  transition: opacity 0.5s ease-out
}
.modal-header .btn-close{
  filter: invert(100%)
}
.modal-header{
  border-bottom-color: rgb(24, 26, 27);
}
.clickable{
  cursor: pointer;
}
.clickable:hover{
  opacity: 0.7;
}
.settings-list *{
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.settings-list *:hover{
  background-color: rgb(24, 26, 27);
}

.comment-name{
  font-size: 1.2rem;
  font-weight: 600;
}
.post-content,
.comment-text{
  opacity: 0.8;
}

.img-comment{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.btn-toolbar{
  padding-top: 10px;;
}